.idea/
main/__pycache__/animation.cpython-39.pyc
main/__pycache__/drone_class.cpython-39.pyc
main/__pycache__/main.cpython-39.pyc
main/__pycache__/map_class.cpython-39.pyc
drones_trajectories.csv
single_coverage.csv
